<li class="<% if (envbagbg) { %><%- envbagbg %><% } %>">
    <% if (envbagblock) { %>
    <div class="<%- envbagblock %>">
        <p class="item-top">Deposit <span>$<%- info.deposit %></span></p>
        <div class="item-badge">
            <b class="badge-txt"><span>Dapatkan</span></b>
        </div>
        <div class="item-body">
            <span class="txt-num"><i>$</i><%- info.get %></span>
        </div>
        <div class="<%- envbagbt %>"></div>
    </div>
    <% } else {%>
    <p class="item-top">Deposit <span>$<%- info.deposit %></span></p>
    <div class="item-badge">
        <b class="badge-txt"><span>Dapatkan</span></b>
    </div>
    <div class="item-body">
        <span class="txt-num"><i>$</i><%- info.get %></span>
    </div>
    <% } %>
</li>