
<% if (blockBg) { %>
<div class="<%- blockBg[index] %>">
    <p class="item-top">Deposit <span>$<%- info.deposit %></span></p>
    <div class="item-body">
        <i class="<%- lotClass %><%- index%>"></i>
    </div>
    <div class="item-badge">
        <b class="badge-txt"><span>Komisi Trading</span></b>
    </div>
    <i class="block-bg-dec1"></i>
    <i class="block-bg-dec2"></i>
</div>
<% } else {%>
<p class="item-top">Deposit <span>$<%- info.deposit %></span></p>
<div class="item-body">
    <span class="txt-num"><i>$</i><%- info.lot %></span>
</div>
<div class="item-badge">
    <b class="badge-txt"><span>Komisi Trading</span></b>
</div>
<% } %>