<!doctype html>
<html>
<head>
    @@include('./include/ftl/head.html', {
    "title": "Investasi Dan Trading Forex, Emas, Saham, BBM | Hanson Forex",
    "keywords": "forex trading",
    "description": "Hanson Forex adalah broker forex terpercaya di Indonesia, dimana Hanson menawarkan forex, emas, perak, minyak dan saham untuk ditradingkan. Hanson juga teregulasi oleh BAPPEBTI dan juga anggota dari ICDX dan ICH.  Buka akun di Hanson Forex dan dapatkan semua keuntungannya.",
    "abstract": "GWFX, Goldenway, forex, forex factory, foreign exchange, forex trading, trading, currency exchange rates, iforex, free forex signal, forex rates, foreign exchange rates, currency exchange rate, stock trading online, day trading, easy forex, foreign exchange rate, metatrader, online trading, forex rate, stock trading, forex news, commodity trading, metatrader 4, online forex trading, currency trading, forex bank, forex forum, online stock trading, trading online, forex exchange, best foreign exchange rates, foreign exchange market, trading forex, forex converter, managed forex trading, forex signals, forex exchange rate, forex trading strategies, forex broker, online brokers, forex market, fx trading, forex charts, cfd trading, forex brokers"
    })
    <link rel='canonical' href='https://www.hsb.co.id' />
    <meta name="author" content="<%= dateYMD.year %>.<%= dateYMD.month %> Designed by Hero; Coded by Vita">
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
</head>
<body>
<h1 class="visuallyhidden">Hanson Forex</h1>
@@include('./include/noscript.html')
@@include('./include/tags/header.html')
<div id="wrapperContent"></div>
<!-- footer begin -->
@@include('./include/tags/footer.html')
<!-- footer end -->
<div class="video-fixed">
    <div class="mobile">
        <a href="javascript:;" id="yyVideomPlayBtn" class="video-img"><img src="/images/index-video-picm.png" alt="Introduction of Hanson Forex Investing"></a>
        <video id="yyVideom" controls="false" class="video-js" preload="auto">
            <source src="https://www.hsb.co.id/video/HansonAdvertise(1)_1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="computer">
        <i class="vjs-close"></i>
        <video id="yyVideo" controls webkit-playsinline="true" playsinline="true" class="video-js" preload="auto" poster="/images/index-video-pic.jpg">
            <source src="https://www.hsb.co.id/video/HansonAdvertise(1)_1.mp4" type="video/mp4">
        </video>
    </div>
</div>
</div>
<!-- popOpenAccount begin -->
@@include('./include/tags/pop/OpenAccount.html')
<!-- popOpenAccount end -->
<script src="<%= reactOpts.babelStandaloneUrl %>"></script>
<script src="<%= reactOpts.reactUrl %>"></script>
<script src="<%= reactOpts.reactDomUrl %>"></script>
<script src="<%= rollupOps.url %>" type="<%= reactOpts.type %>"></script>


<script src="/js/slick.js"></script>
<link href="/public/css/video-js.min.css" rel="stylesheet">
<script src="/public/js/video.min.js"></script>
<script type="text/javascript">
    var $GA_NAME = "index_gw";

    $(function () {
        $('.slider-banner').slick({
            dots: true,
            infinite: true,
            speed: 500,
            autoplay:true,
            arrows:false,
            fade: true,
            cssEase: "linear"
//                responsive: [
//                    {
//                        breakpoint: 1024,
//                        settings: {
//                            slidesToShow: 3,
//                            slidesToScroll: 3,
//                            infinite: true,
//                            dots: true
//                        }
//                    },
//                    {
//                        breakpoint: 600,
//                        settings: {
//                            slidesToShow: 2,
//                            slidesToScroll: 2
//                        }
//                    },
//                    {
//                        breakpoint: 480,
//                        settings: {
//                            slidesToShow: 1,
//                            slidesToScroll: 1
//                        }
//                    }
//                ]
        });
        $('.part7').find('.slider-items').slick({
            prevArrow: '<div data-role="none" class="arrow-btn btn-prev" aria-label="Previous" tabindex="0" role="button"><i class="i-btn-l1"></i></div>',
            nextArrow: '<div  data-role="none" class="arrow-btn btn-next" aria-label="Next" tabindex="0" role="button"><i class="i-btn-r1"></i></div>',
            swipe:false,
            infinite: false,
            slidesToShow: 3,
            variableWidth: true
        });
        $('.part8').find('.slider-items').slick({
            prevArrow: '<div data-role="none" class="arrow-btn btn-prev" aria-label="Previous" tabindex="0" role="button"><i class="i-btn-l2"></i></div>',
            nextArrow: '<div  data-role="none" class="arrow-btn btn-next" aria-label="Next" tabindex="0" role="button"><i class="i-btn-r2"></i></div>',
            centerMode: true,
            variableWidth: true
        });

        $('.tab-group').find('.tab-panel').each(function (e) {
            if($(this).find('.slider-items li').length>0){
                $(this).closest('.tab-group').find('.tab-nav .title').eq(e).show();
            }
        });
        $('body').on('click','.tab-nav .title',function () {
            var _index = $(this).index();
            $(this).addClass('active').siblings('.title').removeClass('active');
            $(this).parent().find('.title-line-b').css({'left':$(this)[0].offsetLeft+'px'});
            $(this).closest('.tab-group').find('.tab-panel').eq(_index).addClass('active').siblings('.tab-panel').removeClass('active');
        });

    });
    $('.vjs-close').click(function () {
        $(this).closest('.video-fixed').remove();
    });
    if (!!document.getElementsByClassName) {
        var myPlayer = videojs(document.getElementById('yyVideo'), {controls : true,loop : false}, function onPlayerReady() {
            $('.vjs-play-control').append('<i class="i-vjs-paused"></i><i class="i-vjs-playing"></i>');
            this.on('play',function () {
                dataLayer.push({'event':'videoPlay','gtm.elementTarget': 'index_gw','gtm.element': 'float_right'})
            });
        });
        var myPlayer1 = videojs(document.getElementById('yyVideom'), {controls : false,loop : false}, function onPlayerReady() {
            this.on('play',function () {
                dataLayer.push({'event':'videoPlay','gtm.elementTarget': 'index_gwmobile','gtm.element': 'float_right'})
            });
        });
        $('#yyVideomPlayBtn').on('click', function () {
            myPlayer1.play();
            myPlayer1.requestFullscreen();
        });
    }

</script>
</body>
<!-- Live Chat --><script type='text/javascript' src='https://c.la1t1.salesforceliveagent.com/content/g/js/31.0/deployment.js'></script><!-- Live Chat -->
<!-- Google Code for Not Thank You Page -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 966247676;
    var google_conversion_label = "dNBTCMTo6AkQ_InfzAM";
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966247676/?value=1.00&amp;label=dNBTCMTo6AkQ_InfzAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!--Start of Tawk.to Script  online chat-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b34b394eba8cd3125e34265/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();

    //    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //    ga('create', 'UA-52411117-1', 'auto');
    //    ga('send', 'pageview');
</script>
<!--End of Tawk.to Script-->
</html>
